.card{
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(217, 59, 31);
    color: rgb(203, 56, 56);
}

.fancy-border{
    border: 1px solid #17d027;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    background-color: aqua;
    color: black;
    border-radius: 10px;
}